<?xml version='1.0' encoding='utf-8'?>
<Context>
   <Resource
    driverClassName="com.mysql.cj.jdbc.Driver"
     maxActive="5"
     maxIdle="1" 
     name="jdbc/test" 
     password="123456" 
     type="javax.sql.DataSource" 
     url="jdbc:mysql://192.168.56.101:3306/test?characterEncoding=utf-8"
     username="root"/>
</Context>