<?xml version="1.0" encoding="UTF-8"?>  
<Configuration>
 
    <properties>  
        <property name="LOG_HOME">/project/logs</property>  
        <property name="ERROR_LOG_FILE_NAME">error</property>
        <property name="INFO_LOG_FILE_NAME">info</property>
    </properties>  
    
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT">  
           <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>   
        </Console>  
 
        <RollingRandomAccessFile name="InfoLog"  
                                 fileName="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log"  
                                 filePattern="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">  
            <PatternLayout  
                    pattern="%d %-5p (%F:%L) - %m%n"/>  
            <Policies>  
                <TimeBasedTriggeringPolicy/>  
                <SizeBasedTriggeringPolicy size="100 MB"/>  
            </Policies>  
            <DefaultRolloverStrategy max="20"/>  
        </RollingRandomAccessFile>  
  
    </Appenders>  

    <Loggers>  
       
        <logger name="org.springframework.core" level="error">  
        </logger>  
        <logger name="org.springframework.beans" level="error">  
        </logger>  
        <logger name="org.springframework.context" level="error">  
        </logger>  
        <logger name="org.springframework.web" level="error">  
        </logger>  
        <logger name="com.springtest" level="info" additivity="false">
        	<appender-ref ref="Console"/>
        	<appender-ref ref="InfoLog"/>
        </logger>
        
    </Loggers>  
</Configuration>  
